*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
img{
    height: 300px;
    width: 80px;
    border-radius: 20px;

}
img:hover{
    width: 300px;
    transition: .1s;
}